

.interestGroup {
    display: grid;
    grid-template-columns: repeat(auto-fill, 275px);
    gap: 20px;
    justify-content: center;

    .interestPaper{
        .interest{
            display: flex;
            align-items: center;

            .icon{
                margin: 20px 0px 20px 30px;
            }

            .title{
                flex: 1 1 auto;
                text-align: center;
            }
        }
    }
}