

.timeline{
    margin-top: 0px;
}


.job{
    padding: 20px;

    .poste{
        margin: 0px 0px 10px 0px;
    }
    .dates{
        margin: 0px 0px 10px 0px;
    }
}

.backToSchool{
    padding: 20px;
    // background-color: #d5dee0 !important;
    background-color: #e6e6e6 !important;
    display: flex;
    justify-content: space-between;

    // .dates{
    //     margin: 0px 0px 10px 0px;
    // }
}

.employeur{
    margin: 0px 0px 10px 0px;
}

.chip{
    margin: 10px 0px 0px 10px;
    // background-color: #d5dee0 !important;
    background-color: #e6e6e6 !important;
}