.timeline {
    margin-top: 0px;
    padding: 0px !important;
}

.job,
.backToSchool {
    padding: 20px;

    .date {
        display: flex;

        .poste {
            margin: 0px 0px 10px 0px;
        }
        .dates {
            flex: 1 0 auto;
            text-align: right;
            margin: 0px 0px 10px 30px;
        }
    }
}

.job {
    .employeur {
        margin: 0px 0px 10px 0px;
    }
    .description {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .chip {
        margin: 10px 0px 0px 10px;
        background-color: #e6e6e6 !important;
    }
}

.backToSchool {
    background-color: #e6e6e6 !important;
}

@media screen and (max-width: 600px) {
    .job,
    .backToSchool {
        .date {
            display: flex;
            flex-direction: column;

            .poste {
                order: 2;
            }
            .dates {
                text-align: left;
                order: 1;
                margin-left: 0px;
            }
        }
    }
}
