

.card{
    // background-color: lightgray;
    padding: 20px;

    .poste{
        margin: 0px 0px 10px 0px;
    }
    .dates{
        margin: 0px 0px 10px 0px;
    }
}

.employeur{
    margin: 0px 0px 10px 0px;
}

.chip{
    margin: 10px 0px 0px 10px;
}