.sectionForm {
    margin-bottom: 75px;

    .content {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .sectionForm {
        .content {
            width: 100%;
        }
    }
}
