.sectionForm {
    margin-bottom: 75px;

    .titleContainer {
        background-color: #d5dee0;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 25px;

        .title {
            margin-left: 50px;
        }
    }

    .content {
        width: 95%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .sectionForm {
        .content {
            width: 100%;
        }
    }
}
