.container {
    height: 75vh;
    margin-bottom: 75px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    column-gap: 60px;
    // background-color: #d0e1f9;
    // background-color: #92aac7;
    // background-color: #8593ae;
    // background-color: #a5c3cf;
    // background-color: #7ba4a8;
    // background-color: #67b4ca;
    // background-color: #88bdcc;
    background-color: #a6c5ce;

    .image {
        justify-self: center;
        align-self: center;
        width: 550px;
        height: auto;
        border-radius: 10%;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        justify-self: start;

        .name > h1 {
            font-size: 35px;
            white-space: nowrap;
        }

        .cv {
            display: flex;
            align-items: center;

            .cv_text {
                font-size: 20px;
                font-weight: bold;
                white-space: nowrap;
            }

            .cv_img {
                margin: 0px 20px 30px;
                width: 100px;
                transform: rotate(-10deg);
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        .image {
            min-width: 375px;
            width: 90%;
        }

        .description {
            .name > h1 {
                font-size: 3vw;
            }
            .cv {
                flex-direction: column;
                align-items: flex-start;

                .cv_text {
                    font-size: 18px;
                }

                .cv_img {
                    display: none;
                }

                .cv_button {
                    margin-top: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        height: 110vh;
        padding: 20px 5px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
        align-content: flex-start;

        .image {
            width: 65%;
            min-width: 350px;
        }

        .description {
            justify-content: flex-start;
            justify-self: center;
            row-gap: 30px;

            .name > h1 {
                font-size: 3.8vw;
            }

            .cv {
                margin-left: 0px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        .description {
            .name {
                & > h1 {
                    font-size: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .container {
        .image {
            min-width: 300px;
        }

        .description {
            .name {
                & > h1 {
                    font-size: 21px;
                }
            }
        }
    }
}
