

// .groupCoursesContainer{
//     margin: 0 auto;
//     // max-width: 1080px;
//     // max-width: max-content;


    .groupCourses{
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-bottom: -30px;

        .coursePaper{
            margin: 30px;
            // flex: 1 1 25%;
            width: 300px;

            .course{
                display: flex;
                flex-direction: column;
                text-align: center;
                height: 100%;

                .title{
                    flex: 1 1 auto;    
                }
            }
        }
    }
// }