

 .card{
    // background-color: lightgray;
    padding: 20px;
    
        .title{
            display: flex;
            justify-content: space-between;

            & > *{
                margin: 0px 0px 10px 0px;
            }
        }

        .employeur{
            margin: 0px 0px 10px 0px;
        }

    }