



.certificationPaper{
display: flex;
align-items: center;

    .image {
        border-radius: 50%;
        max-width: 100px;
        width: 25%;
        height: auto;
        margin: 20px 50px 20px 30px;
    }

    .title{
        margin: 10px;
    }
}
