



.certificationPaper{
display: flex;
align-items: center;

    .image {
        border-radius: 50%;
        max-width: 100px;
        width: 25%;
        height: auto;
        margin: 10px 30px 10px 0px;
    }
}
