.certificationPaper {
    display: flex;
    align-items: center;
    padding: 20px;

    .title,
    .hyphen,
    .certificationYear {
        font-size: large;
        font-weight: bold;
    }

    .image {
        width: 150px;
        height: auto;
        margin: 0px 50px;
    }

    .linkContent {
        .link {
            .title {
                white-space: nowrap;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .certificationPaper {
        position: relative;

        .image {
            margin-left: 20px;
            margin-right: 15px;
        }

        .linkContent {
            flex: 1 0 auto;
            text-align: center;
            margin-left: -25px;
        }

        .certificationYear {
            position: absolute;
            top: 20px;
            right: 20px;

            .hyphen {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .certificationPaper {
        flex-direction: column;
        position: initial;

        .image {
            margin: 20px;
        }

        .linkContent {
            margin: 20px 0px;
        }

        .certificationYear {
            position: initial;
            margin: 20px 0px;
        }
    }
}
