.container {
    height: 350px;
    width: 100%;
    padding: 20px;
    background-color: #a6c5ce;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    .image {
        width: 30%;
        min-width: 170px;
        height: auto;
        border-radius: 50%;
    }

    .contact {
        display: flex;
        align-items: center;

        .socialIcons {
            white-space: nowrap;
        }

        .icon {
            margin: 5px;
        }

        .emailContent {
            white-space: nowrap;

            .email {
                font-weight: bold;
                font-size: 1.5em;
                margin-left: 25px;
            }
        }
    }

    .linksContent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 25px 50px;
        grid-auto-flow: column;
    }
}

@media screen and (max-width: 1350px) {
    .container {
        grid-template-columns: 40% 60%;
        grid-template-rows: repeat(2, 1fr);

        .image {
            grid-row: 1 / span 2;
        }

        .contact {
            justify-self: start;
        }

        .linksContent {
            justify-self: start;
            gap: 25px 35px;
            grid-auto-flow: row;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        height: 80vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);

        .contact {
            justify-self: center;
        }

        .image {
            width: 25%;
        }

        .linksContent {
            justify-self: center;
            grid-template-columns: repeat(3, minmax(min-content, 100px));
            grid-template-rows: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        height: 100vh;

        .contact {
            flex-direction: column;

            .socialIcons {
                order: 2;
                align-self: flex-start;
            }

            .emailContent {
                .email {
                    order: 1;
                    margin-left: 0px;
                }
            }
        }
        .linksContent {
            gap: 25px 25px;
        }
    }
}
