

.skillsSection{

    .skillsCards{
        display: flex;
        flex-wrap: wrap;
        
        .card{
            margin: 20px 30px;
            flex: 1 1 25%;
            background-color: lightgray;
        
            .title{
                text-align: center;
            }
    
            .skillCard {
                margin: 15px 50px;
                padding: 10px 0px;
                min-width: 200px;
                text-align: center;
            }
        }
    }
}