

.skillsSection{
    .groupskillsPapers{
        display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
        grid-template-columns: repeat(auto-fill, 350px);
        gap: 20px;
        justify-content: center;

        .skillsPaper{
            background-color: #e6e6e6;

            .title{
                text-align: center;
            }
            
            .groupskills{
                .skill {
                    margin: 15px 50px;
                    padding: 10px 0px;
                    border: 1px solid #808080;
                    // background-color: #80ccff;
                    text-align: center;
                }
            }
        }
    }
}