

.skillsSection{

    .groupskillsPapers{
        display: flex;
        flex-wrap: wrap;
        
        .skillsPaper{
            margin: 20px 30px;
            flex: 1 1 25%;
            background-color: lightgray;
        
            .title{
                text-align: center;
            }
            
            .groupskills{
                min-width: 300px;
                
                .skill {
                    margin: 15px 50px;
                    padding: 10px 0px;
                    text-align: center;
                }
            }
        }
    }
}